@yellow:#ffff33;
.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}
@red:#ff6347;
	
	.jumbotron{
		background-color: @yellow;
		color: black;
		text-align:center;
		width:100%;
		.margenes(50px,5px );
	}
	
	.jumbotron h4{
		 color:@red;
		 font-style: italic;
	}
	
	.card-hotel{
		flex: 1  150px;
		padding: 3px 0px 3px 0px;
		.margenes(50px,0px );
		margin: 3px;
		
	}
	
	.contenedor{
		background-color: #ebe9d3;
	}
	
	.cont-banner{
		width: 100%;
	}
	
	.btn-reserva{
		width:100%;
		border-radius:0px;
	}
	
	.badge-info{
		border-radius: 0px;
	}
	
	.popover{
		background-color: #fbefdf;
		color:@red;
	}
	
	.carousel-caption{
		color: #663300;
	}
	
	.breadcrumb{
		background-color: @yellow;
	}
	
	
	
	address > p, h5{
		margin:2px
	}
	
	
	
	.footer-address{
		.margenes(2px,0px);
	}
	
	footer{
		padding: 10px 10px 0px 10px;
		background-color: @yellow;
		.margenes(5px,0px );
	}
	
	.reservar{
		padding-right:10px;
	}
	
	.social-network{
		color:black;
		font-weight: bold;
		margin-left: 10px;
	}
	
	h3{
		text-align:center;
	}
	
	
	
	.cont-banner{
		width:100%;
	}
	
	.info{
		width: auto;
		padding-left:470px; 
	
	}
	

 .jumbotron h4{
 	color:@red;
 	font-style: italic;
}

.card-hotel{
	flex: 1  150px;
	padding: 3px 0px 3px 0px;
	margin-top:15px;
	margin: 3px;
	
}

.contenedor{
	background-color: #ebe9d3;
}

.cont-banner{
	width: 100%;
}

.btn-reserva{
	width:100%;
	border-radius:0px;
}

.badge-info{
	border-radius: 0px;
}

.popover{
	background-color: #fbefdf;
	color:red;
}

.carousel-caption{
	color: #663300;
}

.breadcrumb{
	background-color: @yellow;
}



address > p, h5{
	margin:2px
}



.footer-address{
	margin-top:2px;
}

footer{
	padding: 10px 10px 0px 10px;
	background-color: @yellow;
	margin-bottom: 0px;
	margin-top: 5px;
}

.reservar{
	padding-right:10px;
}

.social-network{
	color:black;
	font-weight: bold;
	margin-left: 10px;
}

h3{
	text-align:center;
}



.cont-banner{
	width:100%;
}

.info{
	width: auto;
	padding-left:470px; 

}